/.idea/
/lfd/data_pipeline/pack/*.pkl
/lfd/data_pipeline/dataset/utils/libs/*
/lfd/model/utils/libs/*.so
/lfd/model/losses/libs/*.so
/code_test/
/lfd/model/backbone/pretrained_backbone_weights/*
!/lfd/model/backbone/pretrained_backbone_weights/*.md
/build/