/.idea/
/lfd/data_pipeline/pack/*.pkl
/lfd/data_pipeline/dataset/utils/libs/*.so*
/lfd/model/utils/libs/*.so
/lfd/model/losses/libs/*.so
/code_test/*
/lfd/model/backbone/pretrained_backbone_weights/*
!/lfd/model/backbone/pretrained_backbone_weights/*.md
/lfd/deployment/tensorrt/temp/*
/build/

/local_WIDERFACE_train/
/local_TT100K_train/
/local_COCO_train/
/COCO_train/
/local_TrafficLight_train/
